body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.hero {
    background-color: #f7f7f7;
    text-align: center;
    padding: 50px 0;
}

.partners img {
    max-width: 100px;
    margin: 10px;
}

.container-fluid{
    display: flex;
    justify-content: flex-start !important;

}


.coursera-logo {
    height: 22px;
}

.btn.explorar {
    background-color: #fff;
    border: 1px solid #0056D2;
    color: #0056D2;
    font-size: 16px;
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.container-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px; /* Hacer los bordes redondeados */
    overflow: hidden;
    padding-right: 3px;
    width: 500px; /* Ajustar este valor según el ancho deseado */
}

.container-search input {
    border: none;
    padding: 10px 15px;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.container-search button {
    background-color: #0056D2;
    border: none;
    color: #fff;
    padding: 9px 10px;
    cursor: pointer;
    border-radius: 50%; /* Hacer el botón redondo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search button i {
    font-size: 16px;
}

.container-search button:hover {
    background-color: #0044a3;
}


.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 82px;
}

.navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navbar-join {
    margin-left: 20px;
}

.navbar-join a {
    text-decoration: none;
    color: #0056D2;
    background-color: #e6f4ff; /* Ajustar color de fondo */
    border: 1px solid #0056D2;
    padding: 8px 16px; /* Ajustar el padding para un botón más grande */
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold; /* Añadir negrita al texto */
    display: inline-block;
    text-align: center;
}

.navbar-join a:hover {
    background-color: #cceeff; /* Cambiar color de fondo en hover */
    color: #0056D2;
}