
* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.navbar{
    border-bottom: 1px solid #ccc; /* Borde inferior */
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar{
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}

.navbar .container-fluid{
    padding-left: 13px !important;
    padding-right: 43px !important;
    margin-top: 4px !important;
}



.hero {
    background-color: #f7f7f7;
    text-align: center;
    padding: 50px 0;
}

.partners img {
    max-width: 100px;
    margin: 10px;
}

.container-fluid{
    display: flex;
    justify-content: flex-start !important;

}


.coursera-logo {
    height: 19px;
}

.btn.explorar {
    background-color: #fff;
    border: 1px solid #0056D2;
    color: #0056D2;
    font-size: 16px;
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}


.container-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px; /* Hacer los bordes redondeados */
    overflow: hidden;
    padding-right: 3px;
    width: 500px; /* Ajustar este valor según el ancho deseado */
}

.d-flex {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.container-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px; /* Hacer los bordes redondeados */
    overflow: hidden;
    padding-right: 3px;
    width: 500px; /* Ajustar este valor según el ancho deseado */
}

.container-search input {
    border: none;
    padding: 10px 15px;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.container-search button {
    background-color: #0056D2;
    border: none;
    color: #fff;
    padding: 9px 10px;
    cursor: pointer;
    border-radius: 50%; /* Hacer el botón redondo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search button i {
    font-size: 16px;
}

.container-search button:hover {
    background-color: #0044a3;
}

.nav-underline{
    margin-top: 13px;
    margin-left: 11px;
}

.nav-item{
    margin-right:2.5rem;
}

.nav-underline .nav-link {
    color: #7E7E7E;
    padding-bottom: 8px;
}

.nav-underline .nav-link.active {
    color: #0056d2;
    border-bottom: 3px solid #0056d2;
    padding-bottom: 8px;
}

.nav-underline .nav-link:hover {
    color: #0056d2;
}

.nav-underline .nav-link {
    margin-right: 20px;
}
