body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

.navbar{
    border-bottom: 1px solid #ccc; /* Borde inferior */
}

.navbar-nav .nav-link {
    color: #fff !important;
}

.navbar{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.navbar .container-fluid{
    padding-left: 13px !important;
    padding-right: 43px !important;
    margin-top: 4px !important;
}



.hero {
    background-color: #f7f7f7;
    text-align: center;
    padding: 50px 0;
}

.partners img {
    max-width: 100px;
    margin: 10px;
}

.container-fluid{
    display: flex;
    justify-content: flex-start !important;

}


.coursera-logo {
    height: 22px;
}

.btn.explorar {
    background-color: #fff;
    border: 1px solid #0056D2;
    color: #0056D2;
    font-size: 16px;
    margin-left: 20px;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.d-flex {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.container-search {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px; /* Hacer los bordes redondeados */
    overflow: hidden;
    padding-right: 3px;
    width: 500px; /* Ajustar este valor según el ancho deseado */
}

.container-search input {
    border: none;
    padding: 10px 15px;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.container-search button {
    background-color: #0056D2;
    border: none;
    color: #fff;
    padding: 9px 10px;
    cursor: pointer;
    border-radius: 50%; /* Hacer el botón redondo */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-search button i {
    font-size: 16px;
}

.container-search button:hover {
    background-color: #0044a3;
}


.navbar-links {
    display: flex;
    align-items: center;
    margin-left: 82px;
}

.navbar-links a {
    margin-left: 12px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.navbar-join {
    margin-left: 20px;
}

.navbar-join a {
    text-decoration: none;
    color: #0056D2;
    background-color: #e6f4ff; /* Ajustar color de fondo */
    border: 1px solid #0056D2;
    padding: 8px 16px; /* Ajustar el padding para un botón más grande */
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold; /* Añadir negrita al texto */
    display: inline-block;
    text-align: center;
}

.navbar-join a:hover {
    background-color: #cceeff; /* Cambiar color de fondo en hover */
    color: #0056D2;
}

.modal-body{
    padding: 2rem 4rem 2rem 4rem ;
}

.form-group input {
    height: calc(2.3em + .75rem + 2px) !important;
}

label{
    font-weight: bold
}

.botones-login button{
    line-height: 2.5rem !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones-login i{
    font-size: 20px;
}

.botones-login p{
    text-align: center;
    margin-bottom: 0px;
    margin-right: 80px;
}




/*estilos para el carusel para que las imagenes se despliegue*/
.carousel,
.carousel-inner,
.carousel-item,
.carousel-item .container,
.carousel-item .row {
    height: 100vh; /* Full screen height */
    margin-top: -33px;
}

.carousel-item .col-md-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -93px;

}

.carousel-item img {
    max-width: 108%;
}
.img-principal{
    margin-top: 1px;
    margin-left: 25px;
    height: 450px;
}

.img-persona{
    margin-top: 42px;
}

.logo-plus{
    margin-left: -308px;
    box-sizing: border-box;
    height: 22px;
}

.boton-comenzar{
    margin-left: -169px !important;
}

.texto-primero{
    font-weight: bold;
    font-size: 2.5rem;
}

.texto-segundo{
    font-weight: bold;
    font-size: 2.5rem;

}

@media (max-width: 768px) {
    .carousel-item .col-md-6 {
        max-width: 100%;
    }
}

/*estilos de las seccion de las cards de certificados populares*/


.seccion-certificados{
    margin-top: 70px;
    margin-bottom: 35px;
}

.text-titulo{
    font-size: 1.2rem;
    font-weight: bold;
    color: #382D8B;
}


.card-img-top {
    height: 180px;
    object-fit: cover;
    padding: 10px;
    border-radius: 20px;
}

.badge-secondary {
    background-color: #6c757d;
}

.card {
    width: 114%;
    transition: transform 0.2s, box-shadow 0.2s; /* Transiciones suaves */
    border-radius: 20px;
    min-height: 400px;

}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra */
    border: 1px solid #007bff; /* Cambia el color del borde */
}
.text-tercero{
    padding-left: 94px !important;
    padding-right: 94px !important;
}

.container-fluid{
    margin-top: 1rem !important;
    padding-left: 94px !important;
    padding-right: 94px !important;
}

.text-google{
    display: flex;
    color:#636363;
    margin-bottom:10px;
}

.card-title{
    font-size: 1rem;
    margin-top: -20px;
}
.logo-google{
    width: 23px;
    margin-right: 10px;
}

.botones-mostrar{
    margin-top: 20px;
    padding-left: 81px;
}

